$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
	margin: 0 auto;
	text-align: center;
}

#navigation {
	line-height: 23px;
	min-height: 45px;
}

#navigation a {
	font-family: "Gentium Basic";
	font-size: 12px;
	font-style: italic;
	text-transform: uppercase;
}

a {
	color: #ee7b46;
}

header {
	clear: both;
}
section {
	margin-top: 20px;
    min-height: 800px;
	padding-top: 20px;
}

.navbar-inner {
	background: black;
	@include box-shadow(none !important);
    border: 0;
}

.brand {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
}

#home {
	background: url(../images/student-dream-black-and-white.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 200px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

#home h2 {
	padding: 0;
}

h1 {
	color: #ee7b46;
	font-size: 50px;
	font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
}

h2 {
	color: #000;
	padding-top: 60px;
}

h4 {
	color: #ee7b46;
	padding-bottom: 20px;
}

label {
	color: #fff;
}

.email {
	padding: 5px;
	width: 300px;
}

#story {
	text-align: center;
}

#dream-team {
	background: no-repeat center center fixed #000;
	background-image: url('https://sphotos-a-iad.xx.fbcdn.net/hphotos-ash3/1239885_1420707634820380_219603826_n.jpg');
	background-size: cover;
	-webkit-background-size: cover;
}

#dream-team h2 {
	color: #000;
}